logs
*.log
.DS_Store

.secrets

.vscode/*
.devcontainer/*

backend/.dev.vars
backend/.wrangler
backend/README.md
backend/node_modules
backend/package-lock.json

frontend/.vscode
frontend/node_modules
frontend/dist
frontend/package-lock.json